*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    height: 10vh;
    width: 100%;
}
main{
    margin: 0;
    padding: 0;
    height: 75vh;
}

picture{
   
}
img{
    width: 360px;
}

footer{

    height: 25vh;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 2px;
}
a{
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
}
.nav ul{
    margin-right: 1.2rem;
}

.logo, .logo-2container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
}

.cajaBusqueda{
    display: flex;  
    justify-content: center;
}